<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="Default.htm" />
                <remove value="Default.asp" />
                <remove value="index.htm" />
                <remove value="index.html" />
                <remove value="iisstart.htm" />
                <remove value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="PHP Scripter" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="E:\xampp\php\php-cgi.exe" resourceType="File" />
        </handlers>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".txt" allowed="true" />
                </fileExtensions>
            </requestFiltering>
            <access sslFlags="None" />
        </security>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/ErrorPages/deu/404.0.php" responseMode="ExecuteURL" />
            <error statusCode="404" subStatusCode="0" path="/ErrorPages/deu/404.0.php" responseMode="ExecuteURL" />
        </httpErrors>
        <httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=60000; includeSubdomains" />
            </customHeaders>
        </httpProtocol>
        <directoryBrowse enabled="true" />
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
    </system.webServer>
</configuration>
